* {
  margin: 0;
  padding: 0;
}
.home-content{
    display: flex;
    justify-content: space-between;


}
.control-show {
  position: relative; /* أو absolute حسب التصميم */
  top: 0;
  width: 65%;
  background: url(../images/desktop-image-hero-2.jpg);
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-control {
  padding-top: 50px;
  display: flex;
  color: #fff;
  gap: 80px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}
.nav-control ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 50px;
}
.nav-control ul li a {
  text-decoration: none;
  color: #fff;
}

/* dash-contorl */
.dash-contorl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-right: 40px;
}
.dash-contorl h2{
    font-size: 45px;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.dash-contorl p{
    text-align: center;
}